<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="card my-5">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #resolutionForm="ngForm">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" 
                        [(ngModel)]="resolution.nome" 
                        class="form-control"
                        name="nome" 
                        id="nome"
                        placeholder="Escreva um nome"
                        required #nome="ngModel">
                </div>
                <div [hidden]="!nome.pristine" class="alert alert-danger">Campo Nome é obrigatório!</div>
                <div class="form-group">
                    <label for="data">Data</label>
                    <input type="date" 
                        [(ngModel)]="resolution.data"
                        class="form-control"
                        id="data"
                        name="data"
                        placeholder="Disponha de uma data"
                        required #data="ngModel">
                    <div [hidden]="!data.pristine" class="alert alert-danger">Campo Data é obrigatório!</div>    
                </div>
                <button type="submit" 
                    [disabled]="!resolutionForm.form.valid" 
                    class="btn btn-info">
                    Cadastre
                </button>
            </form>
        </div>
    </div>
</body>
</html>